deb http://mc_ip/ubuntu trusty main restricted universe multiverse
deb http://mc_ip/ubuntu trusty-security main restricted universe multiverse
deb http://mc_ip/ubuntu trusty-updates main restricted universe multiverse
deb http://mc_ip/ubuntu trusty-proposed main restricted universe multiverse
deb http://mc_ip/ubuntu trusty-backports main restricted universe multiverse
